

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { 
	background-color: #ff0000;
	font-family: "Microsoft YaHei";
}
footer{
	text-align: center;

	color: #adff2f;
}

footer a{
	color: #adff2f;
}

.hero-unit {
  padding: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #ffff00;
  opacity:0.6;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit li {
  line-height: 60px;
}